/* 
Copyright 2020 The Webments Authors. All rights reserved.
Use of this source code is governed by a LGPL-2.1-style license that can be
found in the LICENSE file.
/*

.container {
  max-width: 960px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  padding-left: 40px;
  padding-bottom: 40px;
}

.title {
  margin-bottom: -10px;
}

.author {
  margin-top: -10px;
}

.elementsdiv {
  margin-top: 70px;
}

.elementdiv {
  margin-top: 50px;
}
